# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# outptu file
tree.csv
output.csv

# code blocks
AI_DecisionTree.cbp
AI_DecisionTree.depend
AI_DecisionTree.layout
